/*
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px 
 */
/* Start General Roles */
:root {
  --home: #EABF9F;
  --main-color: #B68973;
  --background: #FAF3E0;
  --image-background: #FFFFFF;
}

body {
  font-family: 'Poppins', sans-serif;
  direction: rtl;
  font-size: 20px;
}

body > div:first-of-type {
  min-height: 100vh;
}
/* End General Roles */
/* Start Home Page */
.home {
  background-color: var(--home);
  padding-bottom: 50px;
}
.all-cards{
  background-color: var(--background);
  font-size: 22px;
}
.home .container > p{
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 575px){
  .home{
    padding: 20px;
  }
  .card{
    padding: 20px;
    margin-bottom: 50px;
    background-color: var(--image-background);
  }
  .all-cards{
    padding: 10px;
  }
} 
@media (min-width:768px){
  .home .container .all-cards .card{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .home .container .all-cards{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}
